.library{
   position: fixed;
   top: 0;
   left: 0;
   width: 22rem;
   height: 100%;
   overflow: scroll;
   background: white;
   transform: translateX(-100%);
   transition:  all 0.5s ease;
   opacity: 0;
   box-shadow: 2px 2px 50px rgb(204, 204, 204);
    h2{
        padding: 1rem;
    }
}

.library-song{
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    transition: background 0.5s ease;
    img{
        width: 30%;
        border-radius: 10px;
    }
    &:hover{
        background: rgb(222, 222, 255);
    }
}
.song-description{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: center;
    h3{
        font-size: 1rem;
    }

    h4{
        font-size: 0.7rem;
    }
}


*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

.selected {
    background: rgb(174, 192, 243);
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
}


@media screen and (max-width: 768px){
    .library{
        width: 100%;
    }
}